* {
    -fx-accent-color: #a1c398;
    -fx-text-color: black;
    -fx-light-gray: #eaeaea;
    -fx-medium-gray: lightgray;
    -fx-control-height: 40;
    -fx-focus-color: transparent
}

.root-pane {
    -fx-background-color: white;
}

.first-pane {
    -fx-padding: 15px;
}

.subtitle {
    -fx-font-size: 15px;
}

.button, .choice-box, .spinner {
    -fx-pref-height: -fx-control-height;
    -fx-background-color: -fx-light-gray;
}

/* region TitledPane */

.titled-pane {
    -fx-collapsible: false;
}

.titled-pane > .title {
    -fx-font-size: 20px;
    -fx-alignment: center;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: black;
    -fx-background-insets: 0px;
    -fx-effect: null;
}

.titled-pane > .title > .arrow-button > .arrow:hover {
    -fx-background-color: -fx-accent-color;
}

.titled-pane > .title {
    -fx-background-color: -fx-medium-gray;
    -fx-alignment: center;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-border-width: 0px;
}

.titled-pane > .content {
    -fx-background-color: white;
    -fx-border-width: 0px;
}

/* endregion */

/* region Button */

.button {
    -fx-border-width: 0px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: -fx-accent-color;
    -fx-text-fill: -fx-text-color;
}

.main-button {
    -fx-background-color: derive(-fx-accent-color, 30%);
    -fx-text-fill: -fx-text-color;
}

/* endregion */

/* region ChoiceBox */

.choice-box {
    -fx-mark-color: black;
}

.choice-box:hover {
    -fx-background-color: -fx-accent-color;
    -fx-mark-color: -fx-text-color;
    -fx-text-fill: -fx-text-color;
}

.choice-box .context-menu * .menu-item .label {
    -fx-text-fill: -fx-text-color;
}

.choice-box .context-menu * .menu-item .left-container > .radio {
    -fx-background-color: -fx-text-color;
}

.choice-box .context-menu * .menu-item:hover, .choice-box .context-menu * .menu-item:focused {
    -fx-background-color: -fx-accent-color;
}

/* endregion */

/* region Slider */

.slider {
    -fx-snap-to-ticks: true;
    -fx-block-increment: 1;
    -fx-minor-tick-count: 0;
    -fx-major-tick-unit: 1;
    -fx-show-tick-marks: true;
}

.slider .track {
    -fx-background-color: -fx-light-gray;
}

.slider .thumb {
    -fx-background-color: -fx-accent-color;
}

/* endregion */

/* region GridPane */

.grid-pane {
    -fx-hgap: 40px;
    -fx-vgap: 10px;
}

/* endregion */

/* region Range Slider */

.range-slider {
    -fx-snap-to-ticks: true;
    -fx-major-tick-unit: 1;
    -fx-block-increment: 1;
    -fx-show-tick-marks: true;
    -fx-minor-tick-count: 0;
}

.range-slider .low-thumb, .range-slider .high-thumb, .range-slider .range-bar {
    -fx-background-color: -fx-accent-color;
}

.range-slider .track {
    -fx-background-color: -fx-light-gray;
}

/* endregion */

/* region Spinner */

.spinner {
    -fx-background-color: -fx-light-gray;
}

.spinner > .text-field {
    -fx-background-color: -fx-light-gray;
}

.spinner:focused {
    -fx-background-color: -fx-light-gray;
    -fx-border-width: 0px;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: -fx-light-gray;
}

.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -fx-text-color;
}

.spinner .increment-arrow-button:hover, .spinner .decrement-arrow-button:hover {
    -fx-background-color: -fx-accent-color;
}

/* endregion */

/* region TableView */

.table-view {
    -fx-background-color: white;
}

.table-view .column-header-background .nested-column-header .column-header, .table-view .column-header-background .filler {
    -fx-background-color: -fx-light-gray;
    -fx-text-fill: -fx-text-color;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: -fx-accent-color;
    -fx-table-cell-border-color: -fx-accent-color;
    -fx-text-background-color: -fx-text-color;
}

/* endregion*/
/* region Scrollbars */

.scroll-bar:vertical > .track-background {
    -fx-background-color: white;
}

.scroll-bar:vertical > .thumb {
    -fx-background-color: -fx-light-gray;
}

.scroll-bar:vertical > .thumb:hover, .scroll-bar:vertical > .thumb:focused {
    -fx-background-color: -fx-accent-color;
}

.scroll-pane > .corner {
    -fx-background-color: -fx-light-gray;
}

/* endregion*/
